{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="card-deck">
    {% if books %}
    {% for book in books %}
    <div class="col-sm-auto mb-5">
    <div class="card h-100"> 
        <img class="card-img-top" src="#">
        <div class="card-body">
            <h5 class="card-title">
                <a href="#">{{ book.title }}</a>
            </h5>
            <p class="card-text">Text</p>
        </div>
    </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}